.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 1.85rem !important;
}

#navbar {
  z-index: 500;
  transition: all 0.4s ease-out 0s;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#side-nav {
  padding: 0rem 0 !important;
  padding-bottom: 0 !important;
  display: block;
}

#sidebar-h1 {
  padding: 0.5rem 0.5rem !important;
}

.nav-link {
  padding: 0.5rem 1rem !important;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s !important;

  color: #bbbaba !important;
  font-size: 17px;

  &:hover {
    padding: 0.5rem 1.5rem !important;
    color: white !important;
  }

  &:focus {
    color: white !important;
  }
}

.nav-link-n-c {
  &:hover {
    color: inherit !important;
    background-color: $color1;
  }

  &:focus {
    color: inherit !important;
    background-color: $color1;
  }
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  transition: all 0.5s ease-in;
}

@media (max-width: 991px) {
  .carousel-item img {
    object-fit: cover;
  }
}
