html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif !important;
}

.section-o-hidden {
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

h1 {
  font-family: "Abril Fatface", cursive !important;
  color: $color1;
}

.d-flex-noB {
  display: flex;
}

.active {
  background-color: $color1 !important;
}

.bg-dark {
  background-color: #2f303a !important;
}

.bg-dark-2 {
  background-color: #2f303a !important;
}

.btn-primary {
  background-color: $color1 !important;
  border-color: $color1 !important;

  &:hover {
    background-color: #f5ca00 !important;
    border-color: #f5ca00 !important;
  }
}

.bg-primary-noB {
  background-color: $color1 !important;
}

.text-primary-2 {
  color: $color1 !important;
}

a {
  color: white !important;
}

.navbar-light {
  background-color: #f1f1f1 !important;
  box-shadow: 3px 1px 20px 0px #00000026;
}

.nav-item-noB {
  a {
    color: #2f303a !important;
  }
}

.nav-links ul {
  list-style-type: none;
}

.vertical-hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 15px;
  width: 1px;
  background-color: white;
  margin: 13px;
}

@media (max-width: 992px) {
  .vertical-hr {
    display: none;
  }

  #social_media {
    margin-bottom: 50px !important;
  }

  #contact-form {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important;
  }
}

.card {
  border-radius: 0 !important;
  transition: all ease-in 0.3s;
  overflow: hidden;
  margin-bottom: 40px;

  &:hover {
    box-shadow: 0px 0px 20px 5px #0000003d;
    cursor: pointer;
  }
}

@media (pointer: none) {
  .card {
    &:focus {
      box-shadow: 0px 0px 20px 5px #0000003d;
    }
  }
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 50px;
  }
}

.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  transition: all ease-in 0.3s;
}

.card-img {
  overflow: hidden;
  img {
    height: 180px !important;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.card-body {
  padding: 1.25rem 0 !important ;
}

.card-title {
  margin: 0 !important;

  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.card-text {
  padding-bottom: 2rem;

  font-family: price_font;
  font-size: 50px;
  font-weight: bold;

  position: sticky;
}

.label {
  height: 50px;
  width: 270px;

  position: relative;
  left: 0px;
  top: 60px;
}

.footer-dark {
  background-color: #373844;
}

#sticky-footer {
  flex-shrink: none;
}
