#main_row {
  transition: all 0.5sec ease;
}

.varrow {
  padding-left: 15px;
  .col-lg-4 {
    padding: 0 !important;
  }

  &:last-child {
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 7px !important;
  }
}

.kg {
  font-size: 29px;
  font-weight: normal;
}

.delprice {
  font-size: 23px;
  position: relative;
  bottom: 18px;
}
