.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 1.85rem !important;
}

#navbar {
  z-index: 500;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#side-nav {
  padding: 0rem 0 !important;
  padding-bottom: 0 !important;
  display: block;
}

#sidebar-h1 {
  padding: 0.5rem 0.5rem !important;
}

.nav-link {
  padding: 0.5rem 1rem !important;
  -webkit-transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s !important;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s !important;
  color: #bbbaba !important;
  font-size: 17px;
}

.nav-link:hover {
  padding: 0.5rem 1.5rem !important;
  color: white !important;
}

.nav-link:focus {
  color: white !important;
}

.nav-link-n-c:hover {
  color: inherit !important;
  background-color: #ffd300;
}

.nav-link-n-c:focus {
  color: inherit !important;
  background-color: #ffd300;
}

.carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media (max-width: 991px) {
  .carousel-item img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif !important;
}

.section-o-hidden {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
}

h1 {
  font-family: "Abril Fatface", cursive !important;
  color: #ffd300;
}

.d-flex-noB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.active {
  background-color: #ffd300 !important;
}

.bg-dark {
  background-color: #2f303a !important;
}

.bg-dark-2 {
  background-color: #2f303a !important;
}

.btn-primary {
  background-color: #ffd300 !important;
  border-color: #ffd300 !important;
}

.btn-primary:hover {
  background-color: #f5ca00 !important;
  border-color: #f5ca00 !important;
}

.bg-primary-noB {
  background-color: #ffd300 !important;
}

.text-primary-2 {
  color: #ffd300 !important;
}

a {
  color: white !important;
}

.navbar-light {
  background-color: #f1f1f1 !important;
  -webkit-box-shadow: 3px 1px 20px 0px #00000026;
          box-shadow: 3px 1px 20px 0px #00000026;
}

.nav-item-noB a {
  color: #2f303a !important;
}

.nav-links ul {
  list-style-type: none;
}

.vertical-hr {
  border: none;
  border-left: 1px solid #73848c;
  height: 15px;
  width: 1px;
  background-color: white;
  margin: 13px;
}

@media (max-width: 992px) {
  .vertical-hr {
    display: none;
  }
  #social_media {
    margin-bottom: 50px !important;
  }
  #contact-form {
    padding-top: 5.5rem !important;
    padding-bottom: 5.5rem !important;
  }
}

.card {
  border-radius: 0 !important;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  overflow: hidden;
  margin-bottom: 40px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px 5px #0000003d;
          box-shadow: 0px 0px 20px 5px #0000003d;
  cursor: pointer;
}

@media (pointer: none) {
  .card:focus {
    -webkit-box-shadow: 0px 0px 20px 5px #0000003d;
            box-shadow: 0px 0px 20px 5px #0000003d;
  }
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 50px;
  }
}

.card-img-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.card-img {
  overflow: hidden;
}

.card-img img {
  height: 180px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  padding: 1.25rem 0 !important;
}

.card-title {
  margin: 0 !important;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.card-text {
  padding-bottom: 2rem;
  font-family: price_font;
  font-size: 50px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
}

.label {
  height: 50px;
  width: 270px;
  position: relative;
  left: 0px;
  top: 60px;
}

.footer-dark {
  background-color: #373844;
}

#sticky-footer {
  -ms-flex-negative: none;
      flex-shrink: none;
}

#main_row {
  -webkit-transition: all 0.5sec ease;
  transition: all 0.5sec ease;
}

.varrow {
  padding-left: 15px;
}

.varrow .col-lg-4 {
  padding: 0 !important;
}

.varrow:last-child {
  padding-right: 15px;
}

@media (max-width: 992px) {
  .card {
    margin-bottom: 7px !important;
  }
}

.kg {
  font-size: 29px;
  font-weight: normal;
}

.delprice {
  font-size: 23px;
  position: relative;
  bottom: 18px;
}

.navbar {
  width: 100%;
  background-color: #2f303a;
  padding: 1.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links {
  color: white;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */