@import "var";
@import "header";
@import "reset";
@import "varor";

.navbar {
  width: 100%;
  background-color: #2f303a;

  padding: 1.5rem !important;

  display: flex;
  justify-content: space-around;
}

.nav-links {
  color: white;
  font-family: Arial, Helvetica, sans-serif !important;
  text-decoration: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.spec-produkt-text {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .spec-produkt-text {
    display: grid;
    justify-content: center;

    h2,
    p {
      margin-left: auto !important;
      margin-right: auto !important;
      text-align: center;
    }
  }
}
