{% extends 'base.html' %} {% block content %}
<section class="py-5 section-o-hidden">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 justify-content-center">
        <h2 class="mx-auto" style="width: 50%; text-align: center;">Bussgods</h2>
        <hr class="d-block" />
        <div class="justify-content-center d-flex" style="height: 250px;">
          <img class="w-75 mx-auto" style="object-fit:contain;" src="\static\images\bussgods.png" alt="bussgods" />
        </div>
        <p class="text-muted mb-2" style="width: fit-content;margin-left: auto !important;margin-right: auto !important;">Paket inlämning och utlämning hos oss i butiken.</p>
        <a class="btn btn-primary mx-auto" href="https://www.bussgods.se/" style="display: flex;width: 129px;">Träffa hemsidan</a>
      </div>
      <div class="col-lg-6 justify-content-center">
        <h2 class="mx-auto" style="width: 50%; text-align: center;">Bussgods</h2>
        <hr class="d-block" />
        <div class="justify-content-center d-flex" style="height: 250px;">
          <img class="w-75 mx-auto" style="object-fit:contain;" src="\static\images\schenker.png" alt="bussgods" />
        </div>
        <p class="text-muted mb-2" style="width: fit-content;margin-left: auto !important;margin-right: auto !important;">Paket inlämning och utlämning hos oss i butiken.</p>
        <a class="btn btn-primary mx-auto" href="https://www.dbschenker.com/se-sv" style="display: flex;width: 129px;">Träffa hemsidan</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
