{% extends "base.html" %} {% block content %}

<section id="varor">
  <div class="row" style="margin-right: 0px !important;">
    <nav class="navbar navbar-light static-top col-lg-3" style="align-items: inherit !important;">
      <div class="w-100">
        <ul class="navbar-nav">
          {% for i in product%}
          <li class="nav-item nav-item-noB">
            <a class="nav-link" href="#{{i}}">{{i}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="container col-lg-9 my-5">
      <div class="col-md-10 mx-auto">
        <h1>Varor lista</h1>
        <hr />
        <div class="row" style="margin-right: 0px !important;">
          {% for i in product["chark"] %}
          <div class="col-lg-4">
            <div class="card">
              <div class="card-img">
                <img class="card-img-top" src="/static/images/images-product/{{ i['bild'] }}.jpg" alt="{{ i['namn'] }}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">{{ i["namn"] }}</h5>
                <div class="card-price">
                  <img class="label" src="\static\images\price-label\label-hr.png" />
                  <p class="card-text text-primary-2">{{ i["pris"] }}KR</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
