{% extends "base.html" %} {% block content %}
<section id="varor">
  <div id="main_row" class="row" style="margin-right: 0px !important;">
    <nav id="side-nav" class="navbar navbar-light static-top col-lg-3" style="align-items: inherit !important; border-left: 24px solid #ffd300;">
      <div id="side-title" class="w-100 bg-primary-noB" style="height: 64px !important;">
        <h1 id="sidebar-h1" class="text-dark">Matvaror</h1>
      </div>
      <div class="w-100 pb-2">
        <ul id="side-ul" class="navbar-nav">
          {% for i in product%}
          <li class="nav-item nav-item-noB">
            <a class="nav-link nav-link-n-c" href="#{{i}}">{{i}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="container col-lg-9 my-5">
      <div class="col-md-10 mx-auto">
        <h1>Varor lista</h1>
        <hr />
        {% for j in product %}
        <div id="{{j}}" class="mb-5 pl-3 pt-2" style="background-color: rgb(231, 231, 231);">
          <h2 class="px-2 py-2">{{ j }}</h2>
          <hr />
          <div class="row varrow" style="margin-right: 0px !important;">
            {% for i in product[j] %}
            <div class="col-lg-4">
              <div class="card">
                <div class="card-img">
                  <img class="card-img-top" src="/static/images/images-product/{{ i['bild'] }}.jpg" alt="{{ i['namn'] }}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">{{ i["namn"] }}</h5>
                  <div class="card-price">
                    <img class="label" src="\static\images\price-label\label-hr.png" />
                    <p class="card-text text-primary-2">{{ i["pris"] }}:-</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<script>

  function checkBrowserDimensions() {
    if (window.innerWidth !== undefined && window.innerHeight !== undefined) {
      var w = window.innerWidth;
      var h = window.innerHeight;
    } else {
      var w = document.documentElement.clientWidth;
      var h = document.documentElement.clientHeight;
    }
    return w
  }

  var nav = document.getElementById("side-ul");
  var main_row = document.getElementById("main_row");
  var side_title = document.getElementById("side-title");
  var list_link = nav.querySelectorAll(".nav-item");
  var lengthOfList = {{ product|length }}

  window.onscroll = function () {
    if (window.pageYOffset > 170) {
      if (checkBrowserDimensions() <= 992) {
        nav.style.backgroundColor = "#f1f1f1";
      } else {
          nav.style.position = "fixed";
          nav.style.top = "0px";
          nav.classList.add("col-lg-3");
          nav.style.padding = "0px";
        for (var i = 0; i < lengthOfList; i++) {
          list_link[i].style.marginRight = "19px";
        }
      }
    } else {
      if (checkBrowserDimensions() <= 992) {
        nav.style.position = "relative";
       } else {
        nav.style.position = "relative";
        nav.classList.remove("col-lg-3");
        for (var i = 0; i <= lengthOfList; i++) {
          list_link[i].style.marginRight = "0";
        }
      }
    }
  };
</script>
{% endblock %}
