{% extends 'base.html' %} {% block content %}

<header class="py-3">
  <div class="justify-content-center d-flex">
    <video style="width: 60%;" class="d-flex" src="../static/video/ramadan.mov" autoplay loop muted></video>
  </div>
  <div class="d-flex my-5">
    <h1 class="d-flex text-dark mx-auto">Ramadan dekoration</h1>
  </div>
  <div class="d-flex mb-3">
    <p class="d-flex mx-auto">Fira ramadan med flera olika typer av dekoration. Den kan hämtas i butiken eller skickas genom paket.</p>
  </div>
  <div class="d-flex">
    <div class="alert alert-warning mx-auto">För mer frågor, <a class="text-primary" href="/#Kontaktuppgifter">Kontakta oss</a></div>
  </div>
</header>
<section>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex" src="../static/images/ramadan/1.jpg" alt="" style="object-fit: cover; width: 330px; height: 245px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Liten ramadan lykta</h2>
        <p class="mb-3">Liten ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd. +60kr frakt om skickas i paket</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex" src="../static/images/ramadan/2.jpg" alt="" style="object-fit: cover; width: 330px; height: 245px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Stora ramadan lykta</h2>
        <p class="mb-3">Stora ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd. +60kr frakt om skickas i paket</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex rotate90" src="../static/images/ramadan/3.jpg" alt="" style="object-fit: cover; width: 287px; height: 159px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Ljus tavla</h2>
        <p class="mb-3">Lysande tavla med arabisk mosaik. +60kr frakt om skickas i paket</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex" src="../static/images/ramadan/4.jpg" alt="" style="object-fit: cover; width: 330px; height: 245px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Liten ramadan lykta</h2>
        <p class="mb-3">Liten ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd. +60kr frakt om skickas i paket</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex rotate90" src="../static/images/ramadan/5.jpg" alt="" style="object-fit: cover; width: 296px; height: 172px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Liten ramadan lykta</h2>
        <p class="mb-3">Liten ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd.</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex" src="../static/images/ramadan/7.jpg" alt="" style="object-fit: cover; width: 330px; height: 245px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Liten ramadan lykta</h2>
        <p class="mb-3">Liten ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd.</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6 my-4 justify-content-center d-flex p-0" style="align-items: center;">
        <img class="d-flex" src="../static/images/ramadan/6.jpg" alt="" style="object-fit: cover; width: 330px; height: 245px;" />
      </div>
      <div class="col-md-6 my-4 p-0 spec-produkt-text">
        <h2 class="mb-4">Liten ramadan lykta</h2>
        <p class="mb-3">Liten ramadan lykta tråd som lyser flera olika färger. 3 meter lång. Kan hängas och fästas. Kan vara kopplad med andra, vilket skapar ett längre tråd.</p>
        <p class="card-text">00kr</p>
      </div>
    </div>
    <hr />
  </div>
</section>

{% endblock %}
